<header class="my-5">
    <nav class="navbar fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'index' %}">Scoowy Blog</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home fa-fw"></i>Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_post' %}"><i class="fas fa-paperclip fa-fw"></i>Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-code fa-fw"></i>Proyectos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-images fa-fw"></i>Imagenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-info-circle fa-fw"></i>Acera de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactanos' %}"><i class="fas fa-envelope fa-fw"></i>Contactanos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'buscar' %}" method="get">
                <input class="form-control mr-sm-2" placeholder="Buscar" type="text" name="q">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
    <br>
</header>
