<div class="card border-light mb-3 mx-auto" style="max-width: auto;">
    <div class="card-header px-auto">
        <div class="media px-auto">
            <img class="" id="fotoNavBar" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" title="nombreUsuario" data-toggle="tooltip" data-placement="bottom">
            <div class="media-body ml-1">
                <h4 class="my-auto"><a href="" title="" class="text-primary">{{ post.autor }}</a></h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title"><a href="#" title="" class="text-info">Titulo Comentario</a></h5>
        <p class="card-text">Cuerpo del comentario.</p>
    </div>
</div>
