header nav ul li a i {
    margin-right: 5px;
}

#imagenAutor {
    margin-right: 5px;
    background-color: tomato;
    border-radius: 50%;
}

#fotoNavBar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.icoSep {
    margin-left: 5px;
    margin-right: 5px;
}

footer p a i {
    margin-right: 2px;
    margin-left: 2px;
}