{% extends 'blog/esqueleto.html' %}
{% block heading %}
    <a href="" class="text-primary">Ultimas entradas</a>
{% endblock %}
<small class="text-muted">
{% block headingsmall %}Siempre actualizado...{% endblock %}
{% block body %}
    <div class="content container">
        {% for post in posts %}
            <div class="row">
                <div class="col-md-9">
                    <div class="container">
                        <h2><a href="{% url 'post_completo' pk=post.pk %}">{{ post.titulo }}</a></h2>
                        <p class="text-justify">{{ post.texto|linebreaksbr }}</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card border-light" style="/*max-width: 20rem;*/">
                        <div class="card-header px-auto">
                            <div class="media px-auto">
                                <img class="" id="fotoNavBar" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" title="nombreUsuario" data-toggle="tooltip" data-placement="bottom">
                                <div class="media-body ml-1">
                                    <h4 class="my-auto"><a href="" title="" class="text-primary">{{ post.autor }}</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Meta Tags del usuario.</p>
                        </div>
                    </div>
                    <p class="small text-right mt-2 mb-0">Publicado: {{ post.fechaPublicacion }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-auto">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#articuloModal{{ post.id }}">
                    Ventana emergente
                    </button>
                    <a href="{% url 'post_completo' pk=post.pk %}"><button type="button" class="btn btn-secondary">Otra ventana</button></a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="articuloModal{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="articuloModalTitulo" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-primary" id="articuloModalTitulo">
                            <a href="#" class="text-primary">{{ post.titulo }}</a>
                            {% if post.subtitulo %}
                                <small class="text-muted">
                                {{ post.subtitulo }}
                                </small>
                            {% endif %}
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container">
                                        <p class="text-justify">{{ post.texto|linebreaksbr }}</p>
                                        {% if post.fechaPublicacion %}
                                            <p class="small text-right">Publicado: {{ post.fechaPublicacion }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="card border-light mb-3 mx-auto" style="max-width: auto;">
                                        <div class="card-header px-auto">
                                            <div class="media px-auto">
                                                <img class="" id="fotoNavBar" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" title="nombreUsuario" data-toggle="tooltip" data-placement="bottom">
                                                <div class="media-body ml-1">
                                                    <h4 class="my-auto"><a href="" title="" class="text-primary">{{ post.autor }}</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><a href="#" title="" class="text-info">Titulo Comentario</a></h5>
                                            <p class="card-text">Cuerpo del comentario.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Un boton</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mt-2 pb-3">
            <!-- End Modal -->
            
        {% endfor %}
    </div>
{% endblock %}