{% extends 'blog/esqueleto.html' %}
{% block heading %}
    <a href="" class="text-primary">Ultimas entradas</a>
{% endblock %}
<small class="text-muted">
{% block headingsmall %}Siempre actualizado...{% endblock %}
{% block body %}
    <div class="content container">
        {% for post in posts %}
            <div class="row">
                <div class="col-md-8">
                    <div class="container">
                        <h1><a href="{% url 'post_completo' pk=post.pk %}">{{ post.titulo }}</a></h1>
                        <p class="text-justify">{{ post.texto|linebreaksbr }}</p>
                        <p class="small text-right">Publicado: {{ post.fechaPublicacion }}</p>
                        <hr>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card border-light mb-3 mx-auto" style="max-width: 20rem;">
                        <div class="card-header">
                            <div class="media py-auto">
                                <img class="mr-2" id="fotoNavBar" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" title="nombreUsuario" data-toggle="tooltip" data-placement="bottom">
                                <div class="media-body">
                                    <h4 class="my-auto"><a href="" title="" class="text-primary">{{ post.autor }}</a></h4>
                                </div>
                                
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Meta Tags del usuario.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}