{% extends 'blog/esqueleto.html' %}
{% block heading %}
    <a href="#" class="text-primary">{{ post.titulo }}</a>
{% endblock %}
<small class="text-muted">
{% block headingsmall %}
    {% if post.subtitulo %}
        {{ post.subtitulo }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <p class="text-justify">{{ post.texto|linebreaksbr }}</p>
                    {% if post.fechaPublicacion %}
                        <p class="small text-right">Publicado: {{ post.fechaPublicacion }}</p>
                    {% endif %}
                </div>
                <div class="card border-light mb-3 mx-auto" style="max-width: auto;">
                    <div class="card-header px-auto">
                        <div class="media px-auto">
                            <img class="" id="fotoNavBar" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" title="nombreUsuario" data-toggle="tooltip" data-placement="bottom">
                            <div class="media-body ml-1">
                                <h4 class="my-auto"><a href="" title="" class="text-primary">{{ post.autor }}</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="" title="" class="text-info">Titulo Comentario</a></h5>
                        <p class="card-text">Cuerpo del comentario.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}